// IMPORTS
@import "coder_card";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300&display=swap");

// CORES
$coder-cor_1: #1b222a;
$coder-cor_2: #171c22;
$coder-cor_3: #928990;
$coder-cor_4: #ffffff10;
$branco: #e1e1e1;

// BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// ANIMATIONS
@mixin smoothSizeIncrease {
    transition: all 0.3s ease-in-out;
    transform: scale(1.09);
}

// ------ General Styles ----- //
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

// ------ Body & App ----- //
body {
    background: linear-gradient(290deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, #191919 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

#app {
    max-width: $xxl;
    width: 100%;
    padding: 1em 1em;
}

// ------ Header ----- //
header {
    // background: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0.5em 1.5em;
    margin: 0 auto;
}

#header-logo {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;

    a {
        margin: 0;
        font-family: "Prompt", sans-serif;
        font-size: 32px;
        user-select: none;
        font-weight: 800;
    }
}

#header-menu {
    grid-column: 4 / 13;
    display: flex;
    justify-content: flex-end;

    ul {
        list-style: none;
        display: flex;

        li {
            margin: 0 1em;
        }
    }
}

// ------ Main ----- //
#welcome {
    // background: #ff000050;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 100%;
    z-index: 1;
    margin-top: 1em;
}

#welcome_text-area {
    color: #fff;
    padding: 0 2em;
    height: 100%;

    p,
    strong,
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
    }

    #welcome-text-main {
        padding-top: 2em;

        .linha_1 {
            font-size: 1.5em;
        }

        .linha_2 {
            font-family: "Prompt", sans-serif;
            font-weight: 900;
            font-size: 4.3em;
            width: 150%;
            background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .linha_3 {
            margin: 0.5em 0 0.5em 2em;
            border-left: 1px solid #fff;
            padding-left: 0.5em;
            font-size: 1.5em;
        }

        .linha_4 {
            font-size: 1em;
            margin: 1.5em 0 0 0;
        }
    }
}

#welcome-links {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    height: 4em;
    align-items: center;

    a {
        margin: 0 1em;
    }

    img {
        width: 2em;
        filter: invert(100%);
    }

    #welcome-links-github,
    #welcome-links-linkedin,
    #welcome-links-telegram,
    #welcome-links-whatsapp {
        transition: all 1s ease-in-out;
    }

    #welcome-links-github:hover {
        @include smoothSizeIncrease();
    }

    #welcome-links-linkedin:hover {
        @include smoothSizeIncrease();
    }

    #welcome-links-telegram:hover {
        @include smoothSizeIncrease();
    }

    #welcome-links-whatsapp:hover {
        @include smoothSizeIncrease();
    }
}

#welcome_art {
    position: relative;
    display: flex;
    justify-content: flex-end;

    img#profile_photo {
        position: relative;
        width: 90%;
        clip-path: polygon(
            53% 0,
            61% 4%,
            71% 27%,
            70% 38%,
            85% 44%,
            93% 49%,
            100% 65%,
            100% 100%,
            0 100%,
            0 68%,
            5% 59%,
            13% 45%,
            33% 38%,
            31% 29%,
            33% 15%,
            41% 3%
        );
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
        z-index: 3;
    }
}

#coder {
    position: absolute;
    top: 130px;
    right: 414px;
    z-index: 2;
    transform: scale(82%);
    border-radius: 8px;
}

.content_item {
    margin-top: 3em;
}

#content {
    padding: 1em 2em;
    color: $branco;
}

#quem_sou {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 2em 10em;
}

#quem_sou-foto-area {
    img {
        width: 100%;
        border-radius: 6px;
        border: 2px solid #40ce9f;
        box-shadow: -6px 8px 11px -3px #00000080, -13px 11px 0px 0px #40ce9f;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: -6px 8px 11px -3px #00000080, 0px 0px 0px 0px #40ce9f;
            transition: all 0.3s ease-in-out;
        }
    }
}

#quem_sou-texto {
    padding-left: 2em;
    display: flex;
    flex-direction: column;

    p {
        text-align: justify;
        text-indent: 2em;
    }

    #quem_sou-citacao {
        margin-top: auto;
        blockquote,
        cite {
            text-align: right;
        }
    }
}

#conhecimentos {
    background: rgba(255, 0, 0, 0.274);
}

// ------ Footer ----- //
footer {
    background: #0000ff30;
}
