@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300&display=swap");
#coder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #1b222a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 440px;
  border-radius: 0.5em;
  display: -ms-grid;
  display: grid;
  grid-template: "sidebar menu" 1.9em "sidebar main" "footer footer" 1.3em / 3em;
}

#coder-sidebar {
  grid-area: sidebar;
  display: -ms-grid;
  display: grid;
  font-weight: 300;
  -ms-grid-rows: 5fr 1fr;
      grid-template-rows: 5fr 1fr;
}

#coder-sidebar img {
  width: 1.6em;
  -webkit-filter: invert(40%);
          filter: invert(40%);
}

#coder-sidebar img:hover {
  cursor: pointer;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#coder-sidebar #coder-sidebar-area1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#coder-sidebar #coder-sidebar-area1 img {
  margin-top: 1.5em;
}

#coder-sidebar #coder-sidebar-area1 img:nth-child(1) {
  margin-top: 10px;
  width: 20px;
  -webkit-filter: none;
          filter: none;
}

#coder-sidebar #coder-sidebar-area2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#coder-menu {
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #928990;
}

#coder-menu span {
  padding: 2px 0.6em;
}

#coder-menu span:hover {
  background: #ffffff10;
  cursor: default;
}

#coder-menu img {
  width: 1.3em;
  -webkit-filter: invert(40%);
          filter: invert(40%);
  margin-right: 1em;
}

#coder-menu img:hover {
  -webkit-filter: invert(80%);
          filter: invert(80%);
  cursor: default;
}

#coder-menu img:nth-child(3):hover {
  -webkit-filter: invert(10%) sepia(94%) saturate(7448%) hue-rotate(0deg) brightness(92%) contrast(125%);
          filter: invert(10%) sepia(94%) saturate(7448%) hue-rotate(0deg) brightness(92%) contrast(125%);
}

#coder-main {
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 8fr;
      grid-template-rows: 1fr 8fr;
  background: #1b222a;
}

#coder-main #coder-main-header {
  background: #171c22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#coder-main .coder-main-tab {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5em;
  border-right: 1px solid rgba(0, 0, 0, 0.356);
  border-bottom: 1px solid #ffffff00;
}

#coder-main .coder-main-tab:nth-child(1) {
  background: #1b222a;
  border-bottom: 1px solid #fff;
}

#coder-main .coder-main-tab:nth-child(1) img:nth-child(3) {
  opacity: 100%;
}

#coder-main .coder-main-tab:hover {
  background: #ffffff10;
  cursor: pointer;
}

#coder-main .coder-main-tab:hover img:nth-child(3) {
  opacity: 100%;
}

#coder-main .coder-main-tab span {
  font-size: 12px;
  color: #fff;
  margin-left: 6px;
  font-weight: 300;
}

#coder-main .coder-main-tab img {
  width: 1em;
}

#coder-main .coder-main-tab img:nth-child(3) {
  width: 0.7em;
  -webkit-filter: invert(40%);
          filter: invert(40%);
  border-radius: 100%;
  padding: 2px;
  margin-left: auto;
  opacity: 0%;
}

#coder-main .coder-main-tab img:nth-child(3):hover {
  background: #ffffff25;
}

#coder-main #coder-main-body {
  background: #1b222a;
  border-right: 1px solid #ffffff10;
  margin-right: 0.7em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr;
      grid-template-columns: 1fr 10fr;
  line-height: 24px;
  color: #928990;
}

#coder-main #coder-main-body #coder-main-body-rows_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #928990;
}

#coder-footer {
  background: #171c22;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#coder-footer img {
  -webkit-filter: invert(40%);
          filter: invert(40%);
}

#coder-footer img:hover {
  cursor: pointer;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#coder {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(290deg, black 0%, black 20%, #191919 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app {
  max-width: 1400px;
  width: 100%;
  padding: 1em 1em;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  padding: 0.5em 1.5em;
  margin: 0 auto;
}

#header-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-logo a {
  margin: 0;
  font-family: "Prompt", sans-serif;
  font-size: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 800;
}

#header-menu {
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4 / 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header-menu ul li {
  margin: 0 1em;
}

#welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -ms-grid-rows: 1fr 100%;
      grid-template-rows: 1fr 100%;
  z-index: 1;
  margin-top: 1em;
}

#welcome_text-area {
  color: #fff;
  padding: 0 2em;
  height: 100%;
}

#welcome_text-area p,
#welcome_text-area strong,
#welcome_text-area h1,
#welcome_text-area h2,
#welcome_text-area h3,
#welcome_text-area h4,
#welcome_text-area h5 {
  margin: 0;
}

#welcome_text-area #welcome-text-main {
  padding-top: 2em;
}

#welcome_text-area #welcome-text-main .linha_1 {
  font-size: 1.5em;
}

#welcome_text-area #welcome-text-main .linha_2 {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-size: 4.3em;
  width: 150%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#051937), color-stop(#004d7a), color-stop(#008793), color-stop(#00bf72), to(#a8eb12));
  background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#welcome_text-area #welcome-text-main .linha_3 {
  margin: 0.5em 0 0.5em 2em;
  border-left: 1px solid #fff;
  padding-left: 0.5em;
  font-size: 1.5em;
}

#welcome_text-area #welcome-text-main .linha_4 {
  font-size: 1em;
  margin: 1.5em 0 0 0;
}

#welcome-links {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome-links a {
  margin: 0 1em;
}

#welcome-links img {
  width: 2em;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#welcome-links #welcome-links-github,
#welcome-links #welcome-links-linkedin,
#welcome-links #welcome-links-telegram,
#welcome-links #welcome-links-whatsapp {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#welcome-links #welcome-links-github:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

#welcome-links #welcome-links-linkedin:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

#welcome-links #welcome-links-telegram:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

#welcome-links #welcome-links-whatsapp:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

#welcome_art {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#welcome_art img#profile_photo {
  position: relative;
  width: 90%;
  -webkit-clip-path: polygon(53% 0, 61% 4%, 71% 27%, 70% 38%, 85% 44%, 93% 49%, 100% 65%, 100% 100%, 0 100%, 0 68%, 5% 59%, 13% 45%, 33% 38%, 31% 29%, 33% 15%, 41% 3%);
          clip-path: polygon(53% 0, 61% 4%, 71% 27%, 70% 38%, 85% 44%, 93% 49%, 100% 65%, 100% 100%, 0 100%, 0 68%, 5% 59%, 13% 45%, 33% 38%, 31% 29%, 33% 15%, 41% 3%);
  -webkit-filter: drop-shadow(0 0 0.75rem black);
          filter: drop-shadow(0 0 0.75rem black);
  z-index: 3;
}

#coder {
  position: absolute;
  top: 130px;
  right: 414px;
  z-index: 2;
  -webkit-transform: scale(82%);
          transform: scale(82%);
  border-radius: 8px;
}

.content_item {
  margin-top: 3em;
}

#content {
  padding: 1em 2em;
  color: #e1e1e1;
}

#quem_sou {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  padding: 2em 10em;
}

#quem_sou-foto-area img {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #40ce9f;
  -webkit-box-shadow: -6px 8px 11px -3px #00000080, -13px 11px 0px 0px #40ce9f;
          box-shadow: -6px 8px 11px -3px #00000080, -13px 11px 0px 0px #40ce9f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#quem_sou-foto-area img:hover {
  -webkit-box-shadow: -6px 8px 11px -3px #00000080, 0px 0px 0px 0px #40ce9f;
          box-shadow: -6px 8px 11px -3px #00000080, 0px 0px 0px 0px #40ce9f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#quem_sou-texto {
  padding-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#quem_sou-texto p {
  text-align: justify;
  text-indent: 2em;
}

#quem_sou-texto #quem_sou-citacao {
  margin-top: auto;
}

#quem_sou-texto #quem_sou-citacao blockquote,
#quem_sou-texto #quem_sou-citacao cite {
  text-align: right;
}

#conhecimentos {
  background: rgba(255, 0, 0, 0.274);
}

footer {
  background: #0000ff30;
}
/*# sourceMappingURL=style.css.map */